body{
    font-family: verdana, hevletica, arial, sans-serif;
    background: #fefefe;
    color: #333;
    width: 100%;
}
.container {
    padding: 12px;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding-top: 200px;
}
